#json files to register
usersCouchbase*.json
usersAndPasswords-*.txt
names-*.txt
insertSQLIteQuery-*.sql
insertQuery-*.sql
dnis.txt
names.txt
phoneNumbers.txt
shopCode.txt
userAndPassword-*.csv
.vscode/*
log-*.txt
logs.txt
logs_test.txt
logs.log
logs_test.log
shops.txt
insertSqlTable-*.sql
*.db
.idea
methods/*/coverage
methods/*/ginkgo.report
ACL*
usersShop*
userList.json
userList-*
expedition.xlsx
picking.xlsx
expedition*.sql
picking*.sql
sorterMap*
token.txt